<?php
return array(
    'db' => array(
        'driver'   => 'Pdo_Mysql',
        'host'     => 'localhost',
        'database' => 'CHANGEME',
        'username' => 'CHANGEME',
        'password' => 'CHANGEME'
    ),
    'service_manager' => array(
        'factories' => array(
            'Zend\Db\Adapter\Adapter' => 'Zend\Db\Adapter\AdapterServiceFactory',
        ),
    ),
    'view_manager' => array(
        'template_map' => array(
            'application/index/index' => __DIR__ . '/test.phtml',
        ),
    ),
);
