<?php

return array(
    'di' => array(
        'instance' => array(
            'alias' => array(
                'ExampleTable'        => 'Zend\Db\TableGateway\TableGateway',
                'ExampleDataService'  => 'WebinoData\DataService',
                'MainTable'           => 'Zend\Db\TableGateway\TableGateway',
                'MainDataService'     => 'WebinoData\DataService',
                'SubTable'            => 'Zend\Db\TableGateway\TableGateway',
                'SubDataService'      => 'WebinoData\DataService',
                'WebinoDataRelations' => 'WebinoData\Plugin\Relations',
            ),
            'WebinoDataRelations' => array(
                'parameters' => array(
                    'adapter' => 'Zend\Db\Adapter\Adapter',
                ),
            ),
            'MainTable' => array(
                'parameters' => array(
                    'table' => 'main',
                    'adapter' => 'Zend\Db\Adapter\Adapter',
                ),
            ),
            'MainDataService' => array(
                'injections' => array(
                    'setHasOne' => array(
                        array('name' => 'sub', 'service' => 'SubDataService'),
                        array('name' => 'sub2', 'service' => 'SubDataService'),
                    ),
                    'setHasMany' => array(
                        array('name' => 'sub_items', 'service' => 'SubDataService'),
                    ),
                ),
                'parameters' => array(
                    'tableGateway' => 'MainTable',
                    'config' => array(
                        // plugins
                        'plugin' => array(
                            'WebinoDataRelations',
                        ),
                        // search only defined columns
                        'searchIn' => array(

                        ),
                        // list of available selects
                        'select' => array(
                            'all' => array(
                            ),
                        ),
                        'input_filter' => array(
                            'id' => array(
                                'name' => 'id',
                                'required' => false,
                                'validators' => array(
                                    array(
                                        'name' => 'digits',
                                        'options' => array(
                                        ),
                                    ),
                                ),
                            ),
                            'name' => array(
                                'name' => 'name',
                                'required' => false,
                                'validators' => array(
                                ),
                            ),
                            'sub_id' => array(
                                'name' => 'id',
                                'required' => false,
                                'validators' => array(
                                    array(
                                        'name' => 'digits',
                                        'options' => array(
                                        ),
                                    ),
                                ),
                            ),
                            'sub2_id' => array(
                                'name' => 'id',
                                'required' => false,
                                'validators' => array(
                                    array(
                                        'name' => 'digits',
                                        'options' => array(
                                        ),
                                    ),
                                ),
                            ),
                        ),
                    ),
                ),
            ),
            'SubTable' => array(
                'parameters' => array(
                    'table' => 'sub',
                    'adapter' => 'Zend\Db\Adapter\Adapter',
                ),
            ),
            'SubDataService' => array(
                'parameters' => array(
                    'tableGateway' => 'SubTable',
                    'config' => array(
                        // search only defined columns
                        'searchIn' => array(

                        ),
                        // list of available selects
                        'select' => array(
                            'all' => array(
                            ),
                        ),
                        'input_filter' => array(
                            'id' => array(
                                'name' => 'id',
                                'required' => false,
                                'validators' => array(
                                    array(
                                        'name' => 'digits',
                                        'options' => array(
                                        ),
                                    ),
                                ),
                            ),
                            'value' => array(
                                'name' => 'value',
                                'required' => false,
                                'validators' => array(
                                ),
                            ),
                        ),
                    ),
                ),
            ),
            'ExampleTable' => array(
                'parameters' => array(
                    'table' => 'example',
                    'adapter' => 'Zend\Db\Adapter\Adapter',
                ),
            ),
            'ExampleDataService' => array(
                'parameters' => array(
                    'tableGateway' => 'ExampleTable',
                    'config' => array(
                        // search only defined columns
                        'searchIn' => array(
                            'title',
                        ),
                        // list of available selects
                        'select' => array(
                            'all' => array(
                            ),
                            'limited' => array(
                                'limit' => 5,
                            ),
                            'example' => array(
                                'columns' => array(
                                    array(
                                        '*',
                                        // example of expression
                                        new \Zend\Db\Sql\Expression('(column/10) as rating'),
                                    ),
                                ),
                                'where' => array(
                                    array('column!=:param')
                                ),
                                'limit' => 100,
                                'order' => array(
                                    // example of expression
                                    new \Zend\Db\Sql\Expression('RAND()'),
                                ),
                            ),
                        ),
                        'input_filter' => array(
                            'id' => array(
                                'name' => 'id',
                                'required' => false,
                                'validators' => array(
                                    array(
                                        'name' => 'digits',
                                        'options' => array(
                                        ),
                                    ),
                                ),
                            ),
                            'text' => array(
                                'name' => 'text',
                                'required' => false,
                                'validators' => array(
                                    array(
                                        'name' => 'notEmpty',
                                        'options' => array(
                                        ),
                                    ),
                                ),
//                                'filters' => array(
//                                    array(
//                                        'name' => 'int',
//                                        'name' => 'Example\Filter',
//                                    ),
//                                ),
                            ),
                        ),
                    ),
                ),
            ),
        ),
    ),
);
